.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  padding: 1rem 10%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo h1 {
  font-size: 1.5rem;
  color: #b89ef5;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #b89ef5;
}
